.main{
    display: inline-block;
    background-color: #CCCC05;
    width: 100%;
    padding-top: 50px;
}

.main1 {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.contact-form {
    font-size: 30px;
    width: 100%;
}

.newsletter_form {
    margin-right: 50px;
}
i {
    font-size: 25px;
    padding-right: 5px;
}

.footer {
   display: inline-block;
}

@media screen and (max-width: 768px) {
    .main {
        padding-top: 0;
    }
    h1.welcome {
        margin-bottom: -35px;
    }
    .main1 {
      flex-direction: column;
      
    }
    .contact-form p:last-child {
        padding-bottom: 10px;
    }
    p, i {
        font-size: 20px;
    }
    .newsletter_form {
        margin-right: 0;
    }
}