.timetable {
    display: flex;
    flex-direction: column;
   
}

h1.welcome {
    font-size: 45px;
    padding: 70px 0 50px 0;
}

img.pic {
    display: block;
    margin: 5px auto 20px auto;
}

.timetable > p {
    font-size: 25px;
}

.copy-rights {
    background-color: #242424;
    width: 100%;
    font-size: 25px;
    margin-bottom: 0;    
}

@media screen and (max-width: 768px) {
    .timetable {
        padding-top: 10px;
    }

    h1.welcome {
        font-size: 30px;
    }

    img.pic {
        padding: 30px 0 40px 0;
    }

    .timetable > p {
        font-size: 25px;
        padding: 5px;
    }
    .copy-rights {
        font-size: 20px;
    }
}