.footer-container {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: white;
  }
  
  .footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    height: 45px;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #fff;
  }
  
  .footer-links {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
   display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 160px;
  }
  
  .footer-link-items > h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer-link-items > a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }
 
  .copy-rights {
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .far.fa-copyright {
    font-size: 14px;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
     padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }

    .footer-link-wrapper {
    flex-direction: column;
    }
  }
  
 
