.timetable {
    display: block;
    height: 100vh;
}
h1.welcome_ {
    font-size: 45px;
    padding-top: 70px;
    padding-bottom: 40px;
}
img.TimeTablePic {
    display: block;
    margin: auto;
}
p:first-of-type {
    padding-top: 30px;
}

.timetable > p {
    font-size: 30px;
}
.copy-rights {
    background-color: #242424;
    margin: 0;
    height: 10vh;
    
    
}
@media screen and (max-width: 768px) {
    .timetable {
        padding-top: 10%;
    }
    h1.welcome_ {
        font-size: 30px;
    }
    img.TimeTablePic {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .timetable > p {
        font-size: 25px;
        padding: 5px;
    }

}